
html{
    padding:2%;
    margin:2%;
}
main{
    position:relative;
}
.main button{
    position:absolute;
    top:25px;
    right:40px;
}
.chat_and_send{
    height: 500px;
    width: 950px;
    display:inline-block;
}
.chat{
    padding: 25px;
    text-align:left;
    width:100%;
    height:60%;
    display:inline-block;
    /* border:1px solid blue; */
    vertical-align:top;
    overflow-y:auto;
}
.send{
    width:100%;
    height:25%;
    display:inline-block;
    /* border:1px solid red; */
}
.sidebar{
    vertical-align:top;
    width: 25%;
    height:80%;
    display:inline-block;
}
.send form,textarea{
    width:100%;
    height:75%;
}